@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap%22");

.reportsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.emptyTitle {
  font-family: Outfit;
  font-size: 20px;
  color: grey;
}
